<div>
    <div class="row gap-y-24">

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="single-product-box position-relative overflow-hidden rounded-4">
                 <span class="favourite color-black bg-white-main hover-bg-b hover-color-white ease-tran rounded-pill squire-sm-button content-center position-absolute"><i class="fa fa-heart fw-normal fs-6"></i></span>
                <div class="single-product-image mb-2">
                    <img src="./assets/img/product-images/woman-1.jpg" class="w-100" alt="Featured Product Image">
                </div>
                <div class="product-detail color-black p-20 pt-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-semibold mb-0 fs-5">New Style Creati...</h4>
                        <p class="d-inline-flex me-2 mb-0 font-20 fw-bold align-items-center column-gap-1 fw-semibold mb-0 product-card-price"><svg class="currency-icon-sm"><use xlink:href="./assets/icons/icons.svg#bdt-icon"></use></svg> 650</p>
                    </div>
                    <span class="d-block py-1 font-14  fw-light">Your details here</span>
                    <span class="ratings mb-3 d-block pb-1">
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <small class="color-para-light">(220)</small>
                    </span>
                    <button class="button sm-button rounded-pill bg-tran color-black border-b-1 font-14 fw-semibold hover-bg-b hover-color-white">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="single-product-box position-relative overflow-hidden rounded-4">
                 <span class="favourite color-black bg-white-main hover-bg-b hover-color-white ease-tran rounded-pill squire-sm-button content-center position-absolute"><i class="fa fa-heart fw-normal fs-6"></i></span>
                <div class="single-product-image mb-2">
                    <img src="./assets/img/product-images/woman-2.jpg" class="w-100" alt="Featured Product Image">
                </div>
                <div class="product-detail color-black p-20 pt-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-semibold mb-0 fs-5">New Style Creati...</h4>
                        <p class="d-inline-flex me-2 mb-0 font-20 fw-bold align-items-center column-gap-1 fw-semibold mb-0 product-card-price"><svg class="currency-icon-sm"><use xlink:href="./assets/icons/icons.svg#bdt-icon"></use></svg> 650</p>
                    </div>
                    <span class="d-block py-1 font-14  fw-light">Your details here</span>
                    <span class="ratings mb-3 d-block pb-1">
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <small class="color-para-light">(220)</small>
                    </span>
                    <button class="button sm-button rounded-pill bg-tran color-black border-b-1 font-14 fw-semibold hover-bg-b hover-color-white">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="single-product-box position-relative overflow-hidden rounded-4">
                 <span class="favourite color-black bg-white-main hover-bg-b hover-color-white ease-tran rounded-pill squire-sm-button content-center position-absolute"><i class="fa fa-heart fw-normal fs-6"></i></span>
                <div class="single-product-image mb-2">
                    <img src="./assets/img/product-images/woman-3.jpg" class="w-100" alt="Featured Product Image">
                </div>
                <div class="product-detail color-black p-20 pt-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-semibold mb-0 fs-5">New Style Creati...</h4>
                        <p class="d-inline-flex me-2 mb-0 font-20 fw-bold align-items-center column-gap-1 fw-semibold mb-0 product-card-price"><svg class="currency-icon-sm"><use xlink:href="./assets/icons/icons.svg#bdt-icon"></use></svg> 650</p>
                    </div>
                    <span class="d-block py-1 font-14  fw-light">Your details here</span>
                    <span class="ratings mb-3 d-block pb-1">
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <small class="color-para-light">(220)</small>
                    </span>
                    <button class="button sm-button rounded-pill bg-tran color-black border-b-1 font-14 fw-semibold hover-bg-b hover-color-white">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="single-product-box position-relative overflow-hidden rounded-4">
                 <span class="favourite color-black bg-white-main hover-bg-b hover-color-white ease-tran rounded-pill squire-sm-button content-center position-absolute"><i class="fa fa-heart fw-normal fs-6"></i></span>
                <div class="single-product-image mb-2">
                    <img src="./assets/img/product-images/woman-4.jpg" class="w-100" alt="Featured Product Image">
                </div>
                <div class="product-detail color-black p-20 pt-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-semibold mb-0 fs-5">New Style Creati...</h4>
                        <p class="d-inline-flex me-2 mb-0 font-20 fw-bold align-items-center column-gap-1 fw-semibold mb-0 product-card-price"><svg class="currency-icon-sm"><use xlink:href="./assets/icons/icons.svg#bdt-icon"></use></svg> 650</p>
                    </div>
                    <span class="d-block py-1 font-14  fw-light">Your details here</span>
                    <span class="ratings mb-3 d-block pb-1">
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <small class="color-para-light">(220)</small>
                    </span>
                    <button class="button sm-button rounded-pill bg-tran color-black border-b-1 font-14 fw-semibold hover-bg-b hover-color-white">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="single-product-box position-relative overflow-hidden rounded-4">
                 <span class="favourite color-black bg-white-main hover-bg-b hover-color-white ease-tran rounded-pill squire-sm-button content-center position-absolute"><i class="fa fa-heart fw-normal fs-6"></i></span>
                <div class="single-product-image mb-2">
                    <img src="./assets/img/product-images/man-1.jpg" class="w-100" alt="Featured Product Image">
                </div>
                <div class="product-detail color-black p-20 pt-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-semibold mb-0 fs-5">New Style Creati...</h4>
                        <p class="d-inline-flex me-2 mb-0 font-20 fw-bold align-items-center column-gap-1 fw-semibold mb-0 product-card-price"><svg class="currency-icon-sm"><use xlink:href="./assets/icons/icons.svg#bdt-icon"></use></svg> 650</p>
                    </div>
                    <span class="d-block py-1 font-14  fw-light">Your details here</span>
                    <span class="ratings mb-3 d-block pb-1">
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <small class="color-para-light">(220)</small>
                    </span>
                    <button class="button sm-button rounded-pill bg-tran color-black border-b-1 font-14 fw-semibold hover-bg-b hover-color-white">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="single-product-box position-relative overflow-hidden rounded-4">
                 <span class="favourite color-black bg-white-main hover-bg-b hover-color-white ease-tran rounded-pill squire-sm-button content-center position-absolute"><i class="fa fa-heart fw-normal fs-6"></i></span>
                <div class="single-product-image mb-2">
                    <img src="./assets/img/product-images/man-2.jpg" class="w-100" alt="Featured Product Image">
                </div>
                <div class="product-detail color-black p-20 pt-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-semibold mb-0 fs-5">New Style Creati...</h4>
                        <p class="d-inline-flex me-2 mb-0 font-20 fw-bold align-items-center column-gap-1 fw-semibold mb-0 product-card-price"><svg class="currency-icon-sm"><use xlink:href="./assets/icons/icons.svg#bdt-icon"></use></svg> 650</p>
                    </div>
                    <span class="d-block py-1 font-14  fw-light">Your details here</span>
                    <span class="ratings mb-3 d-block pb-1">
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <small class="color-para-light">(220)</small>
                    </span>
                    <button class="button sm-button rounded-pill bg-tran color-black border-b-1 font-14 fw-semibold hover-bg-b hover-color-white">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="single-product-box position-relative overflow-hidden rounded-4">
                 <span class="favourite color-black bg-white-main hover-bg-b hover-color-white ease-tran rounded-pill squire-sm-button content-center position-absolute"><i class="fa fa-heart fw-normal fs-6"></i></span>
                <div class="single-product-image mb-2">
                    <img src="./assets/img/product-images/man-3.jpg" class="w-100" alt="Featured Product Image">
                </div>
                <div class="product-detail color-black p-20 pt-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-semibold mb-0 fs-5">New Style Creati...</h4>
                        <p class="d-inline-flex me-2 mb-0 font-20 fw-bold align-items-center column-gap-1 fw-semibold mb-0 product-card-price"><svg class="currency-icon-sm"><use xlink:href="./assets/icons/icons.svg#bdt-icon"></use></svg> 650</p>
                    </div>
                    <span class="d-block py-1 font-14  fw-light">Your details here</span>
                    <span class="ratings mb-3 d-block pb-1">
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <small class="color-para-light">(220)</small>
                    </span>
                    <button class="button sm-button rounded-pill bg-tran color-black border-b-1 font-14 fw-semibold hover-bg-b hover-color-white">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="single-product-box position-relative overflow-hidden rounded-4">
                 <span class="favourite color-black bg-white-main hover-bg-b hover-color-white ease-tran rounded-pill squire-sm-button content-center position-absolute"><i class="fa fa-heart fw-normal fs-6"></i></span>
                <div class="single-product-image mb-2">
                    <img src="./assets/img/product-images/man-4.jpg" class="w-100" alt="Featured Product Image">
                </div>
                <div class="product-detail color-black p-20 pt-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-semibold mb-0 fs-5">New Style Creati...</h4>
                        <p class="d-inline-flex me-2 mb-0 font-20 fw-bold align-items-center column-gap-1 fw-semibold mb-0 product-card-price"><svg class="currency-icon-sm"><use xlink:href="./assets/icons/icons.svg#bdt-icon"></use></svg> 650</p>
                    </div>
                    <span class="d-block py-1 font-14  fw-light">Your details here</span>
                    <span class="ratings mb-3 d-block pb-1">
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <i class="fa font-14 fa-star color-b"></i>
                        <small class="color-para-light">(220)</small>
                    </span>
                    <button class="button sm-button rounded-pill bg-tran color-black border-b-1 font-14 fw-semibold hover-bg-b hover-color-white">Add to Cart</button>
                </div>
            </div>
        </div>

    </div>
</div>