@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --color-a:#B70000;
    --color-b:#0077B6;
    --color-c:#FF5733;
    --color-white-main:#fff;
    --color-white-2:#F6F6F6;
    --color-gray:#EBEDEC;
    --color-black-main:#131921;
    --color-para-light:#61656A;
    --color-para-light-2:#B9BBBF;
    --color-para-dark:#333;
    --bs-breadcrumb-divider: url('../img/icons/bradecumn-icon.svg');
}




::-webkit-scrollbar{
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-b);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-c);
  }
  

.container{
    width: 1280px;
    max-width: 1280px;
}
.slider-container{
    width: 1304px;
    margin: auto;
    padding: 0px 10px;
}
.slick-track{
    padding-top: 20px;
}
input:focus{
    outline: none;
}
/* ======================================
Reusable Components
====================================== */
.color-a,.hover-color-a:hover{
    color: var(--color-a);
}
.color-b,.hover-color-b:hover{
    color: var(--color-b);
}
.color-c,.hover-color-c:hover{
    color: var(--color-c);
}
.color-white,.hover-color-white:hover{
    color: var(--color-white-main);
}
.color-black,.hover-color-black:hover{
    color: var(--color-black-main);
}
.color-para-light,.hover-color-para-light:hover{
    color: var(--color-para-light);
}
.color-para-light-2,.hover-color-para-light-2:hover{
    color: var(--color-para-light-2);
}
.color-para-dark,.hover-color-para-dark:hover{
    color: var(--color-para-dark);
}


.tending-box-content .button{
    background: #BF4126;
}

.bg-a,.hover-bg-a:hover{
    background: var(--color-a);
}
.bg-b,.hover-bg-b:hover{
    background: var(--color-b);
}
.bg-c,.hover-bg-c:hover{
    background: var(--color-c);
}
.bg-white-main,.hover-bg-white-main:hover{
    background: var(--color-white-main);
}
.bg-white-2,.hover-bg-white-2:hover{
    background: var(--color-white-2);
}
.bg-grey,.hover-bg-grey:hover{
    background: var(--color-gray);
}
.bg-black-main,.hover-bg-black-main:hover{
    background: var(--color-black-main);
}
.bg-para-light,.hover-bg-para-light:hover{
    background: var(--color-para-light);
}
.bg-tran{
    background: transparent;
}

.b-2{
    border: 2px solid;
}
.bt-1{
    border-top: 1px solid #E4E4E4;
}
.b-both-1{
    border: 1px solid #E4E4E4;
}
.custom-color-hr{
    border-top-color: #E4E4E4;
    opacity: 1;
}
.border-a{
    border-color: var(--color-a);
}
.border-b-1{
    border: 1px solid var(--color-b);
}
.border-gray-1{
    border: 1px solid #A3A9C2;
}
.text-srink{
    letter-spacing: -.3px;
}


.ease-tran{
    transition: .3s ease;
}
.cursor-pointer{
    cursor: pointer;
}

.button{
    display: inline-flex;
    position: relative;
    z-index: 1;
    transition: .5s ease;
}
.normal-button{
    padding: 16px 40px ;
}
.sm-button{
    padding: 10px 24px;
}
.squire-sm-button{
    height: 36px;
    width: 36px;
}
.squire-md-button{
    height: 40px;
    width: 40px;
}
.btn-icon-hover-show{
    display: none;
}
.btn-has-icon:hover .btn-icon-hover-show{
    display: block;
}

.btn-has-icon:hover .btn-icon-hover-none{
    display: none;
}


.category-button-active{
    background: var(--color-b);
    color: var(--color-white-main);
}

.link-button-b:hover{
    color: var(--color-black-main);
}
.link-button-b:hover i{
    color: var(--color-b);
}

.single-page-favourite:hover i{
    font-weight: 900 !important;
    color: #B70000;
}

.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.sec-title{
    font-size: 32px;
    font-weight: 500;
}

.currency-icon-sm{
    width: 13px;
    height: 17px;
}
.currency-icon-md{
    width: 15px;
    height: 19px;
}
.currency-icon-lg{
    width: 20px;
    height: 24px;
}
/* ======================================
Fonts Sizes and Specing
====================================== */
.font-56{
    font-size: 56px;
}
.font-20{
    font-size: 20px;
}
.font-14{
    font-size: 14px;
}

/* gaps */
.gap-y-24{
    row-gap: 24px;
}
/* Margins */

.mb-22{
    margin-bottom: 22px;
}
.mb-32{
    margin-bottom: 32px;
}
/* paddings */
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}
.py-80{
    padding: 80px 0px;
}
.pt-60{
    padding-top: 60px;
}
.pb-60{
    padding-bottom: 60px;
}
.py-60{
    padding: 60px 0px;
}
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}
.py-80{
    padding: 80px 0px;
}
.p-20{
    padding: 20px;
}
.p-24-30{
    padding: 24px 30px;
}
/* ======================================
Header
====================================== */

nav.navbar.navbar-expand-lg.py-0.justify-content-between {
    column-gap: 63px;
}
.b-1{
    border: 1px solid;
}
.header{
    position: sticky;
    width: 100%;
    z-index: 99999;
    background: var(--color-white-main);
    top: -37px;
}
.header select option{
    background: var(--color-b);
    cursor: pointer;
}
.group-hover-header:hover p{
    color: var(--color-b);
}
.header select:focus{
    outline: 0;
}
.logo{
    width: 140px;
}
.header-search{
    width: 380px;
}
.header-search input{
    height: 50px;
}
.search_icon{
    right: 22px;
    transform: translateY(-50%);
}
.hover-border-a:hover{
    border-color: var(--color-b) !important;
}
.pro-number{
    top: -7px;
    right: -7px;
    font-size: 12px;
    width: 20px;
    height: 20px;
}
.center-element{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom{
    padding: 25px 0px;
    border-bottom: 1px solid #EFEFEF;
}
.custom-nav .nav-item{
    font-size: 14px;
}
.custom-nav .nav-item:not(:last-child){
    margin-right: 32px;
}



/* ======================================
Banner
====================================== */
.single-banner{
    height: 420px;
}
.banner .slick-track{
    padding-top: 0px !important;
}


/* ======================================
Category Slider
====================================== */
.category-slider .slick-slide{
    margin: 0px 12px;
}
.single-category:hover{
    transform: scale(1.01) translateY(-5px);
    cursor: pointer;
    transition: .3s ease;
}
.single-category-image{
    overflow: hidden;
    /* border */
}
.single-category-image img{
    transition: .3s ease;
}
.single-category:hover .single-category-image img{
    scale: 1.2;
}
.single-category-image{
    height: 200px;
    width: 100%;
    border-radius: 16px;
}
.single-category:hover p{
    color: var(--color-b);
}


/* ======================================
Featured Image Box
====================================== */

.featured-image-box{
    height: 418px;
}
.featured-image-box.mini{
    height: 197px;
}


/* ======================================
Single Prodct Box
====================================== */
.animation-img{
    overflow: hidden;
    border-radius: 16px;
}
.animation-img:hover img,.offer-box:hover img,.tending-box:hover img,.store-box:hover .animation-img img{
    scale: 1.2;
}
.animation-img img{
    transition: .3s ease;
}
.featured-product-slider .slick-slide , .woman-fashion-slider .slick-slide,.weekly-populer-slider .slick-slide{
    margin: 0px 10px;
}
/* ------------------------------------------------- */
.single-product-box {
    background: #FAFAFA;
    border: 1px solid #FAFAFA;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    overflow: hidden;
    transition: .3s ease;
}
.favourite{
    top: 10px;
    background: #F5F5F5;
    right: 10px;
    z-index: 1;
}
.favourite i.fa-heart{
    margin-top: 1.9px;
}
.offer-badge{
    left: 12px;
    top: 12px;
    z-index: 99;
    font-weight: 500;
}
.discount-badge{
    background: #FFDADA;
}

.add-tocart-btn .button{
    font-size: 14px;
    padding: 8px 16px;
}
.card-animation{
    cursor: pointer;
    transition: .3s ease;
}
.single-product-box:hover , .card-animation:hover{
    transform: translateY(-7px);
    border-color: #B0B0B0;
    box-shadow: 0px 4px 14px -12px #333333;
}
.single-product-box:hover .product-overly{
    right: 0px;
    
}
.single-product-box:hover img{
    scale: 1.2;
}
.single-product-image{
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.single-product-box img{
    height: 240px;
    transition: .3s ease;
    object-fit: cover;

}
.product-card-price{
    margin-top: -5px;
}
.pricing-del::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: var(--color-black-main);
    top: 44%;
    left: 0px;
}
.no-slider {
    justify-content: space-between;
    gap: 20px 0px;
}
.no-slider .single-product-box{
    width: 301px;
}


/* ======================================
Store
====================================== */
.store-box img.main-image{
    height: 240px;
}
.store-box-info .fa-circle{
    margin-top: 1.9px;
}

.store-logo{
    width: 60px;
    height: 60px;
    right: 20px;
    top: 0px;
    transform: translateY(-50%);
    border: 2.5px solid var(--color-white-main);
}
.store-logo img{
    scale: 1.4;
}
.news-box{
    background: var(--color-white-2);
}
.news-box img{
    width: 170px;
    height: 170px;

}


/* ======================================
Brand  css
====================================== */
.trending-now-slider .slick-slide{
    margin: 0px 15px;
}
.tending-box img{
    height: 296px;
    object-fit: cover;
}
.cover-image{
    object-fit: cover;
}

.brand-box img{
    width: 75px;
    height: 75px;
    object-fit: cover;
}
.brand-box {
    padding: 12px;
    background: var(--color-white-2);
    border:1px solid var(--color-white-2);
}
.brand-box:hover{
    transform: translateY(-5px);
    border-color: #B0B0B0;
    box-shadow: 0px 4px 14px -12px #333333;
}

/* ======================================
Single Shop Category
====================================== */
.shop-category-banner{
    height: 320px;
}
.custom-select{
    display: inline-block;
}
.custom-select::before{
    font-family:  "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    z-index: 99;
}
.custom-select select.sm-button{
    appearance: none;
    padding-right: 34px;
}
.custom-pagination .page-link{
    color: #667085;
    font-weight: 600;
}
.custom-pagination .page-link:focus{
    box-shadow: none;
}
.custom-pagination .page-item.active .page-link,.custom-pagination .page-link:hover{
    background-color: var(--color-b);
    color: var(--color-white-main);
}
.disabled>.page-link, .page-link.disabled{
    color: var(--color-black-main);
    background: transparent;
}





/* ======================================
Single Product View
====================================== */
.product-brade-cumb{
    background: #EDF0F8;
    padding: 8px 12px;
    margin: 28px 0px;
    border-radius: 8px;
    display: inline-block;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider);
    padding-right: 14px;
}
.breadcrumb-item+.breadcrumb-item{
    padding-left: 14px;
}
.product-brade-cumb .breadcrumb-item a{
    color: #A3A9C2 ;
    font-size: 14px;
}
.product-brade-cumb .breadcrumb-item.active a{
    font-weight: 600;
    color: var(--color-b) !important
}
.product-color-variants li{
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
}
.product-color-variant i{
    padding-top: 2px;
}
.product-color-variant.active-color i{
    color: #fff !important;
}

.size-variant-button{
    padding: 7px 10px;
    font-size: 14px;
    background: #F3F3F3;
    color: #726C6C;
    font-weight: 500;
}
.size-variant-button input[type=radio] {
    accent-color: var(--color-b);
}
.size-variant-button.active-size {
    background: #EDF0F8;
    color: #000;
}

.quantity-button{
    background: #F3F3F3;
    padding: 16px 28px;
}
.quantity-button input[type=number]{
    appearance: none;
    -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.main-image{
    height: 536px;
}
.product-image-slider-thumb img{
    width: 100%;
    display: block;
    border-radius: 8px;
}
.product-thumb-wrapper{
    padding: 0px 15px;
}
.product-image-slider-thumb  .slick-slide{
    margin:0px 10px;
}
.product-image-slider-thumb .slick-track{
    padding-top: 0px;
}
.product-image-slider-thumb .slick-prev,.product-image-slider-thumb .slick-next{
    background: transparent;
    width: 15px;
    height: 25px;
    border-radius: unset;
}
.product-image-slider-thumb .slick-prev{
    left: -15px;
}
.product-image-slider-thumb .slick-next{
    right: -15px;
}
.product-image-slider-thumb .slick-prev:before {
    content: "\f104";
    color: var(--color-black-main);
}
.product-image-slider-thumb .slick-next:before {
    color: var(--color-black-main);
    content: "\f105";
}
.product-image-slider-thumb .slick-prev[aria-disabled="true"]:before,.product-image-slider-thumb .slick-next[aria-disabled="true"]:before,
.product-image-slider-thumb .slick-prev[aria-disabled="true"]:hover:before,.product-image-slider-thumb .slick-next[aria-disabled="true"]:hover:before{
    color: var(--color-black-main);
    opacity: .5;
    cursor: auto !important;
}
.product-image-slider-thumb .slick-prev:hover:before , .product-image-slider-thumb .slick-next:hover:before {
    color: var(--color-b);
}
.product-detail-thum-img{
    cursor: pointer;
    border:1px solid #fff;
}
.has-product-video{
    overflow: hidden;
    /* pointer-events: none; */
}
.has-product-video::before {
    position: absolute;
    content: '';
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(1.5px);
    height: 40px;
    width: 40px;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.has-product-video:hover,.product-detail-thum-img:hover,.active-image-border{
    border:1px solid #EDF0F8;
    border-radius: 8px;
}
.play-icon{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.modal-backdrop{
    z-index: 99999;
}
div#productVIdeoModal {
    z-index: 999999;
}
.prdocut-detail-table tbody, .prdocut-detail-table td, .prdocut-detail-table tfoot, .prdocut-detail-table th, .prdocut-detail-table thead, .prdocut-detail-table tr{
    border: none;
    box-shadow: none;
    background: transparent;
}
.prdocut-detail-table tr th:first-child,
.prdocut-detail-table tr td:first-child{
    border-radius: 8px 0px 0px 8px;
}
.prdocut-detail-table tr th:last-child,
.prdocut-detail-table tr td:last-child{
    border-radius: 0px 8px 8px 0px;
}
.prdocut-detail-table tr th,.prdocut-detail-table tr:nth-child(even) td{
    background: var(--color-white-main);
}

.prdocut-detail-table tr:nth-child(odd) td{
    background: transparent;
}



.video-loading-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--color-black-main);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    opacity: 0;
}
.video-loading-wrapper.video-loader-show{
    opacity: 1;
    z-index: 1;
}


.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
  color: var(--color-b);
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}





/* ======================================
Footer
====================================== */
.main-footer{
    margin-top: 80px;
}
.footer-box h4{
    letter-spacing: -0.48px;
}
.op-p-8{
    opacity: .8;
}
.footer-social-box li a{
    width: 48px;
    height: 48px;
    border: 1px solid var(--color-black-main);
}
.footer-social-box li a:hover{
    border-color: var(--color-a);
}

