@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --color-a:#B70000;
    --color-b:#0077B6;
    --color-c:#FF5733;
    --color-orange:#E59819;
    --color-white-main:#fff;
    --color-white-2:#F6F6F6;
    --color-white-3:#EDF0F8;
    --color-white-4:#F7F7F7;
    --color-gray:#EBEDEC;
    --color-black-main:#131921;
    --color-para-light:#61656A;
    --color-para-light-2:#B9BBBF;
    --color-para-light-3:#E0E0E0;
    --color-para-dark:#333;
    --bs-breadcrumb-divider: url('../img/icons/bradecumn-icon.svg');
}




::-webkit-scrollbar{
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-b);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-c);
  }
  

.container{
    width: 1280px;
    max-width: 1280px;
}
.slider-container{
    width: 1304px;
    margin: auto;
    padding: 0px 10px;
}
.slick-track{
    padding-top: 20px;
}
input:focus{
    outline: none;
}
/* ======================================
Reusable Components
====================================== */
.color-a,.hover-color-a:hover{
    color: var(--color-a);
}
.color-b,.hover-color-b:hover{
    color: var(--color-b);
}
.color-c,.hover-color-c:hover{
    color: var(--color-c);
}
.color-orange,.hover-color-orange:hover{
    color: var(--color-orange);
}
.color-white,.hover-color-white:hover{
    color: var(--color-white-main);
}
.color-black,.hover-color-black:hover{
    color: var(--color-black-main);
}
.color-para-light,.hover-color-para-light:hover{
    color: var(--color-para-light);
}
.color-para-light-2,.hover-color-para-light-2:hover{
    color: var(--color-para-light-2);
}
.color-para-light-3,.hover-color-para-light-3:hover{
    color: var(--color-para-light-3);
}
.color-para-dark,.hover-color-para-dark:hover{
    color: var(--color-para-dark);
}


.tending-box-content .button{
    background: #BF4126;
}
.facebook-btn{
    border:1px solid #1877F2;
    background: #1877F2;
}
.facebook-btn:hover{
    background: transparent;
    color: #1877F2;
}
.google-btn{
    border:1px solid #EA4335;
    background: #EA4335;
}
.google-btn:hover{
    background: transparent;
    color: #EA4335;
}
.bg-a,.hover-bg-a:hover{
    background: var(--color-a);
}
.bg-b,.hover-bg-b:hover{
    background: var(--color-b);
}
.bg-c,.hover-bg-c:hover{
    background: var(--color-c);
}
.bg-white-main,.hover-bg-white-main:hover{
    background: var(--color-white-main);
}
.bg-white-2,.hover-bg-white-2:hover{
    background: var(--color-white-2);
}
.bg-white-3,.hover-bg-white-3:hover{
    background: var(--color-white-3);
}
.bg-white-4,.hover-bg-white-4:hover{
    background: var(--color-white-4);
}
.bg-grey,.hover-bg-grey:hover{
    background: var(--color-gray);
}
.bg-black-main,.hover-bg-black-main:hover{
    background: var(--color-black-main);
}
.bg-para-light,.hover-bg-para-light:hover{
    background: var(--color-para-light);
}
.bg-para-light-3,.hover-bg-para-light-3:hover{
    background: var(--color-para-light-3);
}
.bg-tran{
    background: transparent;
}

.b-2{
    border: 2px solid;
}
.bt-1{
    border-top: 1px solid #E4E4E4;
}
.b-both-1{
    border: 1px solid #E4E4E4;
}
.custom-color-hr{
    border-top-color: #E4E4E4;
    opacity: 1;
}
.border-a{
    border-color: var(--color-a);
}
.border-b-1{
    border: 1px solid var(--color-b);
}
.bb-new-1{
    border-bottom: 1px solid var(--color-para-light-3);
}
.bboth-new-1{
    border: 1px solid var(--color-para-light-3);
}
.border-gray-1{
    border: 1px solid #A3A9C2;
}
.text-srink{
    letter-spacing: -.3px;
}


.ease-tran{
    transition: .3s ease;
}
.cursor-pointer{
    cursor: pointer;
}

.button{
    display: inline-flex;
    position: relative;
    z-index: 1;
    transition: .5s ease;
}
.normal-button{
    padding: 16px 40px ;
}
.sm-button{
    padding: 10px 24px;
}
.xs-button{
    padding: 8px 14px;
}
.squire-sm-button{
    height: 36px;
    width: 36px;
}
.squire-xs-button{
    height: 20px;
    width: 20px;
}
.squire-xxs-button{
    height: 16px;
    width: 16px;
}
.squire-md-button{
    height: 40px;
    width: 40px;
}
.squire-lg-button{
    height: 46px;
    width: 46px;
}
.btn-icon-hover-show{
    display: none;
}
.btn-has-icon:hover .btn-icon-hover-show{
    display: block;
}

.btn-has-icon:hover .btn-icon-hover-none{
    display: none;
}


.category-button-active{
    background: var(--color-b);
    color: var(--color-white-main);
}

.link-button-b:hover{
    color: var(--color-black-main);
}
.link-button-b:hover i{
    color: var(--color-b);
}

.single-page-favourite:hover i{
    font-weight: 900 !important;
    color: #B70000;
}

.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.sec-title{
    font-size: 32px;
    font-weight: 500;
}
.fw-500{
    font-weight: 500;
}

.currency-icon-sm{
    width: 13px;
    height: 17px;
}
.currency-icon-md{
    width: 15px;
    height: 19px;
}
.currency-icon-lg{
    width: 20px;
    height: 24px;
}
/* ======================================
Fonts Sizes and Specing
====================================== */
.font-56{
    font-size: 56px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 24px;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}

/* gaps */
.gap-y-24{
    row-gap: 24px;
}
/* Margins */

.mb-22{
    margin-bottom: 22px;
}
.mb-32{
    margin-bottom: 32px;
}
.mt-32{
    margin-top: 32px;
}
/* paddings */
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}
.py-80{
    padding: 80px 0px;
}
.py-40{
    padding: 40px 0px;
}
.pt-60{
    padding-top: 60px;
}
.pb-60{
    padding-bottom: 60px;
}
.py-60{
    padding: 60px 0px;
}
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}
.py-80{
    padding: 80px 0px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px
}
.p-24-30{
    padding: 24px 30px;
}
.gap-x-24{
    column-gap: 24px;
}
.gap-x-48{
    column-gap: 48px;
}
.gap-x-24{
    column-gap: 24px;
}
/* ======================================
Header
====================================== */

nav.navbar.navbar-expand-lg.py-0.justify-content-between {
    column-gap: 63px;
}
.b-1{
    border: 1px solid;
}
.header{
    position: sticky;
    width: 100%;
    z-index: 99999;
    background: var(--color-white-main);
    top: -37px;
}
.header select option{
    background: var(--color-b);
    cursor: pointer;
}
.group-hover-header:hover p{
    color: var(--color-b);
}
.header select:focus{
    outline: 0;
}
.search_icon{
    right: 22px;
    transform: translateY(-50%);
}
.hover-border-a:hover{
    border-color: var(--color-b) !important;
}
.pro-number{
    top: -7px;
    right: -7px;
    font-size: 12px;
    width: 20px;
    height: 20px;
}
.center-element{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom{
    border-bottom: 1px solid #EFEFEF;
}

.custom-nav .nav-item{
    font-size: 14px;
    padding: 30px 0px;
    
}
.custom-nav .nav-item:not(:last-child){
    margin-right: 32px;
}

.logo{
    width: 140px;
}
.custom-nav{
    width: 302px;
}


.header-top-right {
    width: 248px;
}

.logo,.custom-nav,.header-search{
    margin-right: 62px;
}

.header-search{
    width: 380px;
    height: 50px;
   
}
.header-search-container{
    width: 380px;
    transition: .3s ease;
    position: absolute;
    right: 0;
}
.header-search-container.extend-header,.search-content{
    width: 540px;
}
.search-content{
    background: var(--color-white-4);
    top: 62px;
    right: 0;
    padding: 32px;
    display: none
}
.sebmenu-content{
    display: none;
}
.nav-item{
    overflow: hidden;
}
.submenu.position-absolute {
    background: var(--color-white-4);
    transition: .3s ease-in-out;
    width: 742px;
    top: 84px;
    z-index: 1;
    padding: 0px 32px;
    height: 0px;
    overflow: hidden;
}
.custom-nav ul li:hover .submenu .sebmenu-content{
    display: block;
}
.custom-nav ul li:hover .nav-link{
    color: var(--color-b);
}
.custom-nav ul li:hover{
    overflow:visible
}
.custom-nav ul li:hover .submenu{
    height: 420px;
    padding: 32px;
   
}
.header-search input{
    height: 50px;
}
.search-items li:not(:last-child){
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #C6C6C6;
}
.sebmenu-content h3 {
    border-bottom: 1px solid #C6C6C6;
}
.menu-category-box{
    background: #E8E8E8;
}

/* ======================================
Banner
====================================== */
section.banner{
    width: 100%;
}
.single-banner{
    height: 420px;
}
.banner .slick-track{
    padding-top: 0px !important;
}
.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    opacity: 1;
}

.carousel-indicators [data-bs-target].active{
    background-color: var(--color-black-main);
}
.carousel-indicators [data-bs-target]:hover{
    background-color: var(--color-b);
}

/* ======================================
Category Slider
====================================== */
.category-slider .slick-slide{
    margin: 0px 12px;
}
.single-category:hover{
    transform: scale(1.01) translateY(-5px);
    cursor: pointer;
    transition: .3s ease;
}
.single-category-image{
    overflow: hidden;
    /* border */
}
.single-category-image img{
    transition: .3s ease;
}
.single-category:hover .single-category-image img{
    scale: 1.2;
}
.single-category-image{
    height: 200px;
    width: 100%;
    border-radius: 16px;
}
.single-category:hover p{
    color: var(--color-b);
}


.single-page-product .single-category-image {
    height: 124px;
    width: 120px;
    border-radius: 16px;
}


#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--color-b);
    z-index: 9999;
    font-size: 65px;
    color: #fff;
    font-family:tahoma;
    z-index: 999999999;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}


.success-modal-box{
    width: 432px;
}

.success-modal{
    z-index: 9999999;
}


/* ======================================
Featured Image Box
====================================== */

.featured-image-box{
    height: 418px;
}
.featured-image-box.mini{
    height: 197px;
}


/* ======================================
Single Prodct Box
====================================== */
.animation-img{
    overflow: hidden;
    border-radius: 16px;
}
.animation-img:hover img,.offer-box:hover img,.tending-box:hover img,.store-box:hover .animation-img img{
    scale: 1.2;
}
.animation-img img{
    transition: .3s ease;
}
.featured-product-slider .slick-slide , .woman-fashion-slider .slick-slide,.weekly-populer-slider .slick-slide{
    margin: 0px 10px;
}

/* ------------------------------------------------- */
.single-product-box {
    background: #FAFAFA;
    border: 1px solid #FAFAFA;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    overflow: hidden;
    transition: .3s ease;
}
.favourite{
    top: 10px;
    background: #F5F5F5;
    right: 10px;
    z-index: 1;
}
.favourite i.fa-heart{
    margin-top: 1.9px;
}
.offer-badge{
    left: 12px;
    top: 12px;
    z-index: 99;
    font-weight: 500;
}
.new-badge{
    left: 12px;
    top: 12px;
    z-index: 99;
    padding: 8px 10px;
}
.discount-badge{
    background: #FFDADA;
}

.add-tocart-btn .button{
    font-size: 14px;
    padding: 8px 16px;
}
.card-animation{
    cursor: pointer;
    transition: .3s ease;
}
.single-product-box:hover , .card-animation:hover{
    transform: translateY(-7px);
    border-color: #B0B0B0;
    box-shadow: 0px 4px 14px -12px #333333;
}
.single-product-box:hover .product-overly{
    right: 0px;
    
}
.single-product-box:hover img{
    scale: 1.2;
}
.single-product-image{
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.single-product-box img{
    height: 240px;
    transition: .3s ease;
    object-fit: cover;

}
.product-card-price{
    margin-top: -5px;
}
.pricing-del::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: var(--color-black-main);
    top: 44%;
    left: 0px;
}
.no-slider {
    justify-content: space-between;
    gap: 20px 0px;
}
.no-slider .single-product-box{
    width: 301px;
}
.single-product-info-buttons li button{
    background: var(--color-para-light-3);
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 8px;
    color: var(--color-black-main);
}
.single-product-info-buttons {
    padding-bottom: 16px;
    border-bottom: 1px solid #d9d9d9;
}
.single-product-info-buttons li button.active,.single-product-info-buttons li button:hover{
    background: var(--color-b) !important;
    color: var(--color-white-main);
}
.progress, .progress-stacked{
    border-radius: 4px;
    background: rgba(230, 234, 238, 0.70);
}
.progress-bar{
    background-color: var(--color-b);
}
.main-review-infos{
    width: 750px;
}
.single-review-box{
    margin-bottom: 40px;
}
.single-review-box:not(:last-child){
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-white-4);
}
/* ======================================
Store
====================================== */
.store-box img.main-image{
    height: 240px;
}
.store-box-info .fa-circle{
    margin-top: 1.9px;
}

.store-logo{
    width: 60px;
    height: 60px;
    right: 20px;
    top: 0px;
    transform: translateY(-50%);
    border: 2.5px solid var(--color-white-main);
}
.store-logo img{
    scale: 1.4;
}
.news-box{
    background: var(--color-white-2);
}
.news-box img{
    width: 170px;
    height: 170px;

}


/* ======================================
Brand  css
====================================== */
.trending-now-slider .slick-slide{
    margin: 0px 15px;
}
.tending-box img{
    height: 296px;
    object-fit: cover;
}
.cover-image{
    object-fit: cover;
}

.brand-box img{
    width: 75px;
    height: 75px;
    object-fit: cover;
}
.brand-box {
    padding: 12px;
    background: var(--color-white-2);
    border:1px solid var(--color-white-2);
}
.brand-box:hover{
    transform: translateY(-5px);
    border-color: #B0B0B0;
    box-shadow: 0px 4px 14px -12px #333333;
}

/* ======================================
Single Shop Category
====================================== */
.shop-category-banner{
    height: 320px;
}
.custom-select{
    display: inline-block;
}
.custom-select::before{
    font-family:  "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    z-index: 99;
}
.custom-select select.sm-button{
    appearance: none;
    padding-right: 34px;
}
.custom-select select{
    font-size: 14px;
}
.custom-pagination .page-link{
    color: #667085;
    font-weight: 600;
    font-size: 14px;
}
.pagination-info input{
    border: 1px solid #DDDDDD;
    color: #667085;
}
.custom-pagination .page-link:focus{
    box-shadow: none;
}
.custom-pagination .page-item.active .page-link,.custom-pagination .page-link:hover{
    background-color: var(--color-b);
    color: var(--color-white-main);
}
.disabled>.page-link, .page-link.disabled{
    color: var(--color-black-main);
    background: transparent;
}





/* ======================================
Single Product View
====================================== */
.product-brade-cumb{
    background: var(--color-white-3);
    padding: 8px 12px;
    margin: 10px 0px;
    border-radius: 8px;
    display: inline-block;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider);
    padding-right: 14px;
}
.breadcrumb-item+.breadcrumb-item{
    padding-left: 14px;
}
.product-brade-cumb .breadcrumb-item a{
    color: #A3A9C2 ;
    font-size: 14px;
}
.product-brade-cumb .breadcrumb-item.active a{
    font-weight: 600;
    color: var(--color-b) !important
}
.product-color-variants li{
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
}
.product-color-variant i{
    padding-top: 2px;
}
.product-color-variant.active-color i{
    color: #fff !important;
}

.size-variant-button{
    padding: 7px 10px;
    font-size: 14px;
    background: #F3F3F3;
    color: #726C6C;
    font-weight: 500;
}
.size-variant-button-sm{
    padding: 4px 8px;
}
.size-variant-button input[type=radio] {
    accent-color: var(--color-b);
}
.form-check-input:checked{
    background-color: var(--color-b);
    border-color: var(--color-b);
}
.size-variant-button.active-size {
    background: var(--color-white-3);
    color: #000;
}
.hover-icon-reverse:hover svg{
    filter: invert(1);
}

.quantity-button{
    background: #F3F3F3;
    padding: 16px 28px;
}
.quantity-button-sm{
    padding: 12.3px 20px;

}
.quantity-button input[type=number]{
    appearance: none;
    -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.main-image,.main-image img {
    height: 422px;
}
.product-image-slider-thumb img{
    width: 100%;
    display: block;
    border-radius: 8px;
}
.product-thumb-wrapper{
    padding: 0px 15px;
}
.product-image-slider-thumb  .slick-slide{
    margin:0px 10px;
}
.product-image-slider-thumb .slick-track{
    padding-top: 0px;
}
.product-image-slider-thumb .slick-prev,.product-image-slider-thumb .slick-next{
    background: transparent;
    width: 15px;
    height: 25px;
    border-radius: unset;
}
.product-image-slider-thumb .slick-prev{
    left: -15px;
}
.product-image-slider-thumb .slick-next{
    right: -15px;
}
.product-image-slider-thumb .slick-prev:before {
    content: "\f104";
    color: var(--color-black-main);
}
.product-image-slider-thumb .slick-next:before {
    color: var(--color-black-main);
    content: "\f105";
}
.product-image-slider-thumb .slick-prev[aria-disabled="true"]:before,.product-image-slider-thumb .slick-next[aria-disabled="true"]:before,
.product-image-slider-thumb .slick-prev[aria-disabled="true"]:hover:before,.product-image-slider-thumb .slick-next[aria-disabled="true"]:hover:before{
    color: var(--color-black-main);
    opacity: .5;
    cursor: auto !important;
}
.product-image-slider-thumb .slick-prev:hover:before , .product-image-slider-thumb .slick-next:hover:before {
    color: var(--color-b);
}
.product-detail-thum-img{
    cursor: pointer;
    border:1px solid #fff;
}
.has-product-video{
    overflow: hidden;
    /* pointer-events: none; */
}
.has-product-video::before {
    position: absolute;
    content: '';
    background: rgba(0,119,182,68%);
    backdrop-filter: blur(1.5px);
    height: 40px;
    width: 40px;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.has-product-video:hover,.product-detail-thum-img:hover,.active-image-border{
    border:1px solid #D3D3D3;
    border-radius: 8px;
}
.play-icon{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.modal-backdrop{
    z-index: 99999;
}
div#productVIdeoModal {
    z-index: 999999;
}
.prdocut-detail-table tbody, .prdocut-detail-table td, .prdocut-detail-table tfoot, .prdocut-detail-table th, .prdocut-detail-table thead, .prdocut-detail-table tr{
    border: none;
    box-shadow: none;
    background: transparent;
}
.prdocut-detail-table tr th:first-child,
.prdocut-detail-table tr td:first-child{
    border-radius: 8px 0px 0px 8px;
}
.prdocut-detail-table tr th:last-child,
.prdocut-detail-table tr td:last-child{
    border-radius: 0px 8px 8px 0px;
}
.prdocut-detail-table tr th,.prdocut-detail-table tr:nth-child(even) td{
    background: var(--color-white-main);
}

.prdocut-detail-table tr:nth-child(odd) td{
    background: transparent;
}



.video-loading-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--color-black-main);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    opacity: 0;
}
.video-loading-wrapper.video-loader-show{
    opacity: 1;
    z-index: 1;
}


.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
  color: var(--color-b);
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.single-cart-items:not(:last-child){
    border-bottom: 1px solid var(--color-para-light-3);
    padding-bottom: 24px;
}
.single-checkout-items:not(:last-child){
    border-bottom: 1px solid var(--color-para-light-3);
    padding-bottom: 16px;
}
.cart-short-product-items:not(:last-child){
    padding-bottom: 8px;
}
.new-color-border{
    color: var(--color-para-light-3);
    opacity: 1;
}
.light-color-placeholder::placeholder{
    color: var(--color-para-light-3);
}
.input-md{
    padding: 14px 20px;
}
.custom-select-2{
    appearance: none;
    background: url('../img/icons/arrow-up-down.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right;
    background-origin: content-box;
}
.compary-pricary-box{
    padding-right: 45px;
}
.compary-pricary-box:not(:last-child){
    margin-bottom: 40px;
}

/* ======================================
Faq Section
====================================== */
.faq-wrapper .accordion-item{
    border-radius: 8px !important;
    border: none !important;
}
.faq-wrapper .accordion-button{
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-black-main);
}
.accordion-button:not(.collapsed){
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.faq-wrapper .accordion-item:first-of-type >.accordion-header .accordion-button {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.faq-wrapper .accordion-button ,.faq-wrapper .accordion-body{
    background: var(--color-white-4) !important;
    box-shadow: none !important;
}
.faq-wrapper .accordion-body {
    border-radius: 0px 0px 8px 8px;
    color: var(--color-para-dark);
    padding-top: 0px !important;
}
.faq-wrapper .accordion-item:not(:last-child){
    margin-bottom: 20px;
}
.faq-wrapper .accordion-button:not(.collapsed)::after {
    transform: rotate(90deg);
}
.accordion-button::after{
    background-image: url('../img/icons/faq-arrow.svg') !important;
}

.wishlist-title-box{
    width: 670px;
}








/* ======================================
Footer
====================================== */
.main-footer{
    margin-top: 80px;
    border-top: none !important;
}
.footer-box h4{
    letter-spacing: -0.48px;
}
.op-p-8{
    opacity: .8;
}
.footer-social-box li a{
    width: 48px;
    height: 48px;
    border: 1px solid var(--color-black-main);
}
.footer-social-box li a:hover{
    border-color: var(--color-a);
}






.mobile-nav-button,.mobile-search-icon{
    display: none;
}
/* ======================================
Responsive CSS
====================================== */
@media screen and (max-width:1300px){
    .d-none-res{
        display: none;
    }
    .container , .slider-container{
        width: 100% !important;
        max-width: 100% !important;
        padding: 0px 10px;
    }
    .mobile-search-icon{
        display: block;
    }
    .mobile-nav-button{
        display: block;
        width: 100%;
    }
    .header{
        top: 0;
        padding-top: 20px;
    }
    .header-bottom{
        padding-bottom: 10px;
    }
    .custom-nav{
        order: 5;
        display: block !important;
    }
    .custom-nav .navbar-nav{
        align-items: flex-start !important;
        flex-direction: row;
    }
    .header-top-right {
        width: 130px;
        column-gap: 12px !important;
    }
    .header-top-right img {
        width: 22px;
        height: 20px;
    }
}

@media screen and (max-width:1000px){
    .gap-y-24-lg{
        row-gap: 24px;
    }
    .flex-warp-lg{
        flex-wrap: wrap;
    }
   
    
}

@media screen and (max-width:768px){
    .custom-nav {
        position: relative;
        margin-right: 0px !important;
    }
    .custom-nav .navbar-nav .nav-item.position-relative{
        position: unset !important;
    }
    .submenu.position-absolute{
        width: 100%;
    }
    .single-banner{
        height: 275px;
    }
    .sm-button {
        padding: 8px 20px;
    }
    .single-banner p, .button {
        font-size: 14px;
    }
    .single-banner p{
        margin-bottom: 30px !important;
    }
    .font-56{
        font-size: 26px;
    }
    .sec-title {
        font-size: 20px;
        font-weight: 500;
    }
    .link-button-b {
        font-size: 14px;
    }
    .fs-5{
        font-size: 16px !important;
    }
    .category-slider .slick-slide {
        margin: 0px 5px;
    }
    .single-category-image{
        height: unset;
    }
    .single-product-image,.single-product-image img{
        height: 160px;
    }

    .product-detail {
        padding: 10px;
    }
    .product-detail .d-flex.justify-content-between.align-items-center {
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        row-gap: 10px;
    }
    .fa.font-14{
        font-size: 12px;
    }
    .featured-image-box{
        height: 190px;
    }
    .featured-image-box.mini{
        height: 110px
    }
    .brand-box img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .brand-box{
        flex-direction: column;
        align-items: flex-start !important;
    }
    .brand-box .ms-3{
        margin-left: 0px !important;
        margin-top: 10px;
    }
    .store-box img.main-image {
        height: 120px;
    }
    .store-box-info {
        padding: 20px 0px;
    }
    .store-category{
        font-size: 14px;
    }
    .store-tag-link{
        display: none !important;
    }


    .pt-80{
        padding-top: 80px;
    }
    .pb-80{
        padding-bottom: 40px;
    }
    .py-80{
        padding: 40px 0px;
    }

    .news-box img {
        width: 100px;
        height: 100px;
    }
    .news-box{
        padding: 16px;
        flex-direction: column;
        align-items: flex-start !important;
    }
    .news-info{
        padding: 0;
        padding-top: 16px;
    }

    .footer-box.ps-3{
        padding-left: 0px !important;
    }
    

}

@media screen and (max-width:600px){
    .menu-category-box img {
        display: none;
    }
    .menu-category-box h6{
        font-size: 14px;
    }
    .custom-nav ul li:hover .submenu {
        height: 320px;
        padding: 20px 10px;
    }
    .sebmenu-content .row-gap-4{
        row-gap: 20px !important;
    }
}
@media screen and (max-width:370px){
    .fs-5{
        font-size: 14px !important;
    }
}