@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}

:root{
    --color-a:#B70000;
    --color-white-main:#fff;
    --color-black-main:#181818;
    --color-para-light:#989898;
}


.container{
    width: 1280px;
    max-width: 1280px;
}
input:focus{
    outline: none;
}
/* ======================================
Reusable Components
====================================== */
.color-a,.hover-color-a:hover{
    color: var(--color-a);
}
.color-white,.hover-color-white:hover{
    color: var(--color-white-main);
}
.color-black,.hover-color-black:hover{
    color: var(--color-black-main);
}
.color-para-light,.hover-color-para-light:hover{
    color: var(--color-para-light);
}


.bg-a,.hover-bg-a:hover{
    background: var(--color-a);
}
.bg-white-main,.hover-bg-white-main:hover{
    background: var(--color-white-main);
}
.bg-black-main,.hover-bg-black-main:hover{
    background: var(--color-black-main);
}
.bg-para-light,.hover-bg-para-light:hover{
    background: var(--color-para-light);
}


.b-2{
    border: 2px solid;
}
.border-a{
    border-color: var(--color-a) !important;
}



.ease-tran{
    transition: .3s ease;
}
.cursor-pointer{
    cursor: pointer;
}

.button{
    display: inline-block;
    position: relative;
    z-index: 1;
}
.normal-button{
    padding: 16px 40px ;
}
.sm-button{
    padding: 10px 24px;
}
.button::before{
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: .5s ease;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.57, -0.24)
    /* transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); */
}
.hover-bg-black-before::before{
    background: var(--color-black-main);
}
.hover-bg-white-before::before{
    background: var(--color-white-main);
}
.button:hover:before{
    transform: scaleX(1);
}


/* ======================================
Fonts Sizes and Specing
====================================== */
.font-56{
    font-size: 56px;
}

/* Margins */

/* ======================================
Header
====================================== */
.logo{
    width: 75px;
}
.header-search{
    width: 750px;
}
.header-search .button{
    width: 165px;
}
.pro-number{
    top: -7px;
    right: -7px;
    font-size: 12px;
    width: 20px;
    height: 20px;
}
.center-element{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom{
    padding-bottom: 12px;
    border-bottom: 1px solid #EFEFEF;
}
.custom-nav .nav-item:not(:last-child){
    margin-right: 32px;
}


/* ======================================
Banner
====================================== */
.single-banner{
    display: flex;
    align-items: center;
    padding: 60px;
}
.single-banner h2{
    letter-spacing: 1.12px;
}